__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.build/
dist/
.cache/
.ipynb_checkpoints/

.vscode/
.idea/
.DS_Store

venv/
.env
.env.* 
.python-version

models/
*.faiss
*.pkl
*.bin
*.safetensors
*.pt
*.onnx
*.log

data.csv
data/*.csv
data/*.parquet

config.yaml
